{{ partial "head" . }}
    <body>
        {{ partial "overlay" . }}
        <div id="wrap">
            <!-- Header -->
            {{ partial "header" . }}
            <section id="hiking">
                <div class="container">
                    {{ $desctax := index .Site.Taxonomies.tripsdesc }}
                    {{ $descpages := index $desctax (.Data.Term | urlize) }}
                    {{ $descpage := index $descpages 0 }}
                    <h1>{{ $descpage.Page.Title }}</h1>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            {{ $descpage.Page.Content }}

                            <hr />
                            {{ range .Data.Pages.ByPublishDate }}
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <h5 style="text-align: right">
                                        {{ .Date.Format "January 2, 2006" }}
                                    </h5>
                                </div>
                                <div class="col-sm-8 col-md-8 col-lg-8">
                                    <h5 style="text-align: left">
                                        <strong><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></strong>
                                    </h5>
                                </div>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- Footer -->
        {{ partial "footer" . }}
    </body>
</html>
