<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<!-- GoogleMaps and associated libraries -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMj4Q2_oXWrJwLrPsSx0Lq8ZQBtlZm5aQ&callback=initMap"></script>
<script>var highpoint_data = {{ .Site.Data.highpoints.source }}</script>
<script async defer src="{{ .Site.BaseURL }}snazzy-info-window/dist/snazzy-info-window.min.js"></script>
<script src="{{ .Site.BaseURL }}js/gmaps.js"></script>
