<div class="container burger-container">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Params.Author }}</a>
    </div>
    <button class="hamburger hamburger--slider" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</div>
<nav class="navbar navbar-overlay">
    <div class="container">
        <div id="navbar">
            <ul class="nav navbar-nav">
                <li><a href="{{ .Site.BaseURL }}">{{ "Home" | upper }}</a></li>
                {{ if .Site.Menus.main }}
                {{ range sort .Site.Menus.main }}
                    <li>
                        <a href="{{ .URL }}">{{ .Name | upper }}</a>
                    </li>
                {{ end }}
                {{ end }}
            </ul>
        </div>
    </div>
</nav>

<div id="social-overlay" class="container">
    {{ partial "social" . }}
</div>
