<ul class="social-links">
    {{ if .Site.Params.Social.Email }}
        <li><a href="{{ .Site.BaseURL }}/contact"><i class="fa fa-envelope"></i></a></li>
    {{ end }}

    {{ if .Site.Params.Social.Github }}
        <li><a href="http://github.com/{{ .Site.Params.Social.Github }}"><i class="fa fa-github"></i></a></li>
    {{ end }}

    {{ if .Site.Params.Social.LinkedIn }}
        <li><a href="http://linkedin.com/in/{{ .Site.Params.Social.LinkedIn }}"><i class="fa fa-linkedin"></i></a></li>
    {{ end }}

    {{ if .Site.Params.Social.Instagram }}
        <li><a href="http://instagram.com/{{ .Site.Params.Social.Instagram }}"><i class="fa fa-instagram"></i></a></li>
    {{ end }}
</ul>
