<section id="highpoints">
    <div class="container">
        <h1>{{ .Site.Data.highpoints.name }}</h1>
        <p><a href="http://highpointers.org/">U.S. Highpointing</a> refers to ascending to the natural point with the highest elevation in each of the 50 U.S. states. I hope to someday reach the top of every state, and will document my progress on the map below</p>
    </div>

    <div id="map-container">
        <div id="map"></div>
        <div class="container">
            <div class="highpoint-list">
                <h4 onclick="resetMap()">Completed Highpoints : 14</h4>
                <ul>
                    {{ range $i, $el := .Site.Data.highpoints.source }}
                        <li><a onclick="selectMarker({{ $i }})">{{ .highpoint }}, {{ .sstate }}</a> - {{ .date }}</li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>
