<section id="projects">
    <div class="container">
        <h1>{{ .Site.Data.projects.name }}</h1>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>{{ .Site.Params.Text.Projects | safeHTML }}</p>
                <hr />
                {{ range $i, $el := .Site.Data.projects.source }}
                <h5>
                    <i class="{{ .icon }}"></i>&nbsp;&nbsp;
                    <strong><a href="{{ $el.url }}">{{ $el.name }}</a></strong>&nbsp;-&nbsp;{{ $el.description }}
                </h5>
                {{ end }}
            </div>
        </div>
    </div>
</section>
